
# /
/*.suo
/*.ncb
/*.sdf
/*.opensdf
/ipch
/*.user
/_ReSharper.*
/packages
/.vs

# /Odey.Framework.Keeley.Entities/
/Odey.Framework.Keeley.Entities/[Bb]in
/Odey.Framework.Keeley.Entities/obj
/Odey.Framework.Keeley.Entities/[Dd]ebug
/Odey.Framework.Keeley.Entities/[Rr]elease
/Odey.Framework.Keeley.Entities/*.user
/Odey.Framework.Keeley.Entities/*.aps
/Odey.Framework.Keeley.Entities/*.eto

# /Odey.Framework.Keeley.Entities.Caches/
/Odey.Framework.Keeley.Entities.Caches/[Bb]in
/Odey.Framework.Keeley.Entities.Caches/obj
/Odey.Framework.Keeley.Entities.Caches/[Dd]ebug
/Odey.Framework.Keeley.Entities.Caches/[Rr]elease
/Odey.Framework.Keeley.Entities.Caches/*.user
/Odey.Framework.Keeley.Entities.Caches/*.aps
/Odey.Framework.Keeley.Entities.Caches/*.eto

# /Odey.Framework.Keeley.Entities.EntityPropertyOverride/
/Odey.Framework.Keeley.Entities.EntityPropertyOverride/[Bb]in
/Odey.Framework.Keeley.Entities.EntityPropertyOverride/obj
/Odey.Framework.Keeley.Entities.EntityPropertyOverride/[Dd]ebug
/Odey.Framework.Keeley.Entities.EntityPropertyOverride/[Rr]elease
/Odey.Framework.Keeley.Entities.EntityPropertyOverride/*.user
/Odey.Framework.Keeley.Entities.EntityPropertyOverride/*.aps
/Odey.Framework.Keeley.Entities.EntityPropertyOverride/*.eto
/Odey.Framework.Keeley.Entities.EntityPropertyOverride/ClientBin
/Odey.Framework.Keeley.Entities.EntityPropertyOverride/GeneratedArtifacts
/Odey.Framework.Keeley.Entities.EntityPropertyOverride/_Pvt_Extensions

# /Odey.Framework.Keeley.Entities.Enums/
/Odey.Framework.Keeley.Entities.Enums/[Bb]in
/Odey.Framework.Keeley.Entities.Enums/obj
/Odey.Framework.Keeley.Entities.Enums/[Dd]ebug
/Odey.Framework.Keeley.Entities.Enums/[Rr]elease
/Odey.Framework.Keeley.Entities.Enums/*.user
/Odey.Framework.Keeley.Entities.Enums/*.aps
/Odey.Framework.Keeley.Entities.Enums/*.eto

# /Odey.Framework.Keeley.Entities.KeeleyEntitiesTest/
/Odey.Framework.Keeley.Entities.KeeleyEntitiesTest/[Bb]in
/Odey.Framework.Keeley.Entities.KeeleyEntitiesTest/obj
/Odey.Framework.Keeley.Entities.KeeleyEntitiesTest/[Dd]ebug
/Odey.Framework.Keeley.Entities.KeeleyEntitiesTest/[Rr]elease
/Odey.Framework.Keeley.Entities.KeeleyEntitiesTest/*.user
/Odey.Framework.Keeley.Entities.KeeleyEntitiesTest/*.aps
/Odey.Framework.Keeley.Entities.KeeleyEntitiesTest/*.eto
# /Odey.Framework.Keeley.Entities.KeeleyEntitiesTest/App.config

# /Odey.Framework.Keeley.Entities.KeeleyModel/
/Odey.Framework.Keeley.Entities.KeeleyModel/[Bb]in
/Odey.Framework.Keeley.Entities.KeeleyModel/obj
/Odey.Framework.Keeley.Entities.KeeleyModel/[Dd]ebug
/Odey.Framework.Keeley.Entities.KeeleyModel/[Rr]elease
/Odey.Framework.Keeley.Entities.KeeleyModel/*.user
/Odey.Framework.Keeley.Entities.KeeleyModel/*.aps
/Odey.Framework.Keeley.Entities.KeeleyModel/*.eto
