<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="KeeleyModel" connectionString="metadata=res://*/KeeleyModel.csdl|res://*/KeeleyModel.ssdl|res://*/KeeleyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sql02;Initial Catalog=Keeley;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
	<system.serviceModel>
		<client>
	<endpoint address="net.tcp://app02/RegionService/RegionService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IRegion"/>
		</client>
		</system.serviceModel>
</configuration>